<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>eBay</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'products:products_index'%}">Auction</a>
            <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout'%}">Logout</a>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %} 
            <div class="alert alert-{% if message.tags == 'success' %}{{message.tags}}{% else %}danger{% endif %}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock body %}
</body>
</html>