{% extends 'products/base.html' %}

{% block body %}
<h1>Products Listing</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit">Add Product</button>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{product.imgurl}}" class="card-img-top">
                            <div class="card-body">
                                <h3><a href="{% url 'products:product_show' product.id %}">{{product.name}}</a></h3>
                                <h4>${{product.price}}</h4>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-warning">No book added yet</div>
                {% endfor %}
            </div>
        </div>    
    </div>
</div>
{% endblock body %}