{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{product.imgurl}}" class="card-img-top">
            {{product.name}}
            <a href="{% url 'products:product_show' product.id %}?action=edit">Edit</a>
            <a href="{% url 'products:product_show' product.id %}?action=del">Delete</a>
            
            <div>
                <form action="{% url 'comments:comment_create' product.id %}" method="post">
                    {% csrf_token %}
                    {{comment_form}}
                    <button type="submit">Add Comment</button>
                </form>

                <div>
                    {% for c in product.comments.all %}
                        <h2>{{c.name}}</h2>
                        <p>{{c.comment}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% comment %} Shows form only if user clicks edit {% endcomment %}
        {% if edit %}
            <div class="col-md-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Add Product</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock body %}