{% extends 'accounts/base.html' %}

{% block content %}
    {% comment %} <h1>Django form</h1>
    <form action="" method="post">
        {{form}}
        <button type="submit">Create User</button>
    </form>
    <br> {% endcomment %}
    <h1>Register an Account</h1>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <label>First name</label>
                    <input type="text" class="form-control" name="first_name">
                </div>     
                <div class="col-md-6">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div> 
                <div class="col-md-6">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div> 
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>     
                <div class="col-md-6">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" name="confirm_password">
                </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock content %}